[submodule "ruby.tmbundle"]
	path = ruby.tmbundle
	url = https://github.com/textmate/ruby.tmbundle.git
[submodule "python.tmbundle"]
	path = python.tmbundle
	url = https://github.com/textmate/python.tmbundle.git
[submodule "shellscript.tmbundle"]
	path = shellscript.tmbundle
	url = https://github.com/textmate/shellscript.tmbundle.git
