*~
ansible-retry
ansible.log
*.bak
build
.buildpath
.bundle
compass
_compass.scss
desktop.ini
.DS_Store
fabfile/source
.idea
/logs
mock_server/vendor
nbproject/
node_modules
.project
*.pyc
.sass-cache
.settings
Thumbs.db
.tmpoj
.vagrant
vendor
